<!DOCTYPE html>
<html>

  <head>
    {% include _btpartials/_head.html %}

    <meta name="description" content="Gyóni Major – Édesburgonya (batáta) és egyéb termények termesztése és forgalmazása Zlinszky Ferenc és Gergely családi gazdaságában.">
    <title>Gyóni Major – Édesburgonya (batáta) termesztés és forgalmazás Zlinszky Ferenc családi gazdaságában</title>
  </head>

  <body>
    <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    {% include _btpartials/_header.html %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

        <h2>Híreink</h2>

        <div style="width: 100%; text-align: center;" class="fb-page" data-href="https://www.facebook.com/pages/Gy%C3%B3ni-Major/384821125006037" data-tabs="timeline" data-width="500" data-height="2100" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/pages/Gy%C3%B3ni-Major/384821125006037">
              <a href="https://www.facebook.com/pages/Gy%C3%B3ni-Major/384821125006037">Gyóni Major</a>
            </blockquote>
          </div>
        </div>

    <!-- FOOTER  -->
    {% include _btpartials/_footer.html %}
  </body>
</html>
