<!DOCTYPE html>
<html>

  <head>
    {% include _btpartials/_head.html %}

    <meta name="description" content="Gyóni Major – Édesburgonya (batáta) termesztés és forgalmazás Zlinszky Ferenc családi gazdaságában">
    <title>Gyóni Major – Édesburgonya (batáta) termesztés és forgalmazás Zlinszky Ferenc családi gazdaságában</title>
  </head>

  <body>
    {% include _btpartials/_header.html %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <img class="major" src="images/gyoni-major.jpg" alt="A Zlinszky kúria épülete a Gyóni Majorban">

        <p><strong>Vásároljon vegyszermentes eljárással termesztett édesburgonyát és a feldolgozásával készült finomságokat a Gyóni Majorból!</strong></p>

        <h2>Terményeink</h2>

        <p>Alakuló gazdaságunk első évében főnövénynek az <strong>édesburgonyát (batátát)</strong> választottuk.
        Emellett persze van konyhakertünk, néhány öreg gyümölcsfánk, sőt újabban három nyuszink is...</p>

        <p>Termesztettünk még némi gabonát és szálastakarmányt is, ültettünk gyümölcsöst is.</p>

        <p>Szeretnénk mielőbb többféle terményt illetve készítményt kínálni (zöldségeket, lekvárokat, stb),
        de ebben az első évben piaci mennyiséget még csak az édesburgonyából tudtunk termeszteni.</p>

        <h3>
        <a id="burgonya-de-nem-krumpli" class="anchor" href="#burgonya-de-nem-krumpli" aria-hidden="true"><span class="octicon octicon-link"></span></a>Burgonya, de nem krumpli! – Az édesburonya</h3>

        <p>A batáta, azaz édesburgonya, ásványi anyagokban és vitaminokban rendkívül gazdag, sokféleképpen elkészíthető zöldségféle. Neve ellenére semmiféle rokonságban nem áll a burgonyafélék családjával. Rendszertanilag a szulákfélék családjába,a hajnalka-félékhez nemzetségébe tartozik. Magyarországon Váraljai Dénes kezdett el kísérletezni vele, Ásotthalom környékén a tanyákon kísér letezték ki a hazai körülményekre alkalmas termesztéstechnológiát, ma már magyar nemesítésű, nemzetközileg is elismert fajtákkal is rendelkeznek.</p>
        <h4>
        <a id="az-édesburgonya-finom" class="anchor" href="#az-%C3%A9desburgonya-finom" aria-hidden="true"><span class="octicon octicon-link"></span></a>Az édesburgonya finom!</h4>

        <p>Nagyon sokféle batáta létezik. Az egyiknek fehér, vagy világosszürke színű a húsa, a bőre pedig mély lila színű, <em>íze a szelídgesztenyére hasonlít</em>. A másik fajta sötét narancssárga húsú, bőre sárgás, pirosas, ill. réz színű. Ennek a típusnak az <em>íze nagyon közel van a legédesebb sütőtök ízéhez</em>. Természetesen mindkét változatnak számos fajtája van, de főzés szempontjából elég ezt a kettőt megkülönböztetni.</p>

        <h4>
        <a id="az-édesburgonya-egészséges" class="anchor" href="#az-%C3%A9desburgonya-eg%C3%A9szs%C3%A9ges" aria-hidden="true"><span class="octicon octicon-link"></span></a>Az édesburgonya egészséges!</h4>

        <p>A növény módosult gyökere gumókká alakulva tartalékolja a tápanyagot, és ez a termés is egyben.  Magas a C - , B2 és B6 - valamint E - vitamin tartalma, gazdag olyan ásványi anyagokban mint kálium, a réz és a mangán, antioxidánsokat is tartalmaz és rostokban gazdag. Alacsony a zsír- és koleszterintartalma és (neve ellenére) cukorbetegek is fogyaszthatják. Az édesburgonya ráadásul nem igényel növényvédelmet: trópusi növény lévén Magyarországon – legalábbis egyelőre – nincs elterjedt betegsége vagy kártevője. Így az általunk termesztett batáta <strong>teljesen vegyszermentes,</strong> semmilyen permetezést nem kapott!</p>

        <h4>Az édesburgonya a konyhában</h4>

        <p>Minden olyan technikával elkészíthető, amit a burgonyához használunk: lehet sütni, főzni; héjában vagy anélkül, egészben vagy feldarabolva, de lehet nyersen is fogyasztani. Az elkészítés során az íze a nyershez képest intenzívebb lesz. Pépesítve készíthetünk belőle sós vagy édes ízesítésű krémeket – ezek fogyaszthatók kenyérrel (mint pl. a padlizsánkrém), de használhatók mártásként is, vagy sütemények töltelékeként. Tésztába keverve süthető belőle pogácsa, fánk vagy kenyér.</p>

        <p>Az édesburgonyát sohasem szabad hűtőszekrényben tartani (mert +10 fok alatt a benne lévő cukor átalakul keményítővé), kamrában, 10-15 fok közötti hőmérsékleten viszont sokáig eláll. </p>

        <p>Az édesburgonyát csak rozsdamentes késsel szabad vágni, mert a régi vas késektől azonnal feketedik. A hámozott, ill. felszeletelt batátát felhasználásig tegyük egy tál vízbe mert a levegőn hamar oxidálódik.</p>

        <h4>Hol kapható?</h4>

        <p>Az általunk termesztett batátát jelenleg személyesen, termelői <strong>piacokon</strong> árusítjuk:
        <ul>
          <li>Vasárnaponként 9.00-től 14.00-ig Budapesten, a <a href="http://www.szimpla.hu/szimpla-piac">Szimplakertben</a> (Bp. VII.ker. Kazinczy u. 14.)</li>
          <li>Egyes szombatokon <a href="http://helyipiacok.hu/?page_id=588">Máriaremetén</a> (Budapest, II. kerület Hímes utca 3. - a máriaremetei Kegytemplom melletti cserkészház kertje)</li>
        </ul>

        <p>Rendelhet tőlünk (bizonyos feltételekkel) <strong>online is</strong>, <a href="https://docs.google.com/forms/d/1FINDw9tU1Z_-uzkpX8Z5Yxhd5ZuG2_DW9TJlLDJHkPU/viewform?c=0&w=1">ezen az űrlapon.</a>

        <p>Tisztelettel kíván hozzá jó étvágyat és jó egészséget:</p>

        <p><strong>Zlinszky Ferenc és Gergely</strong><br>
        őstermelők</p>
      </section>
    </div>

    <!-- FOOTER  -->
    {% include _btpartials/_footer.html %}
  </body>
</html>
