<!DOCTYPE html>
<html>

  <head>
    {% include _btpartials/_head.html %}

    <meta name="description" content="Gyóni Major – Édesburgonya (batáta) termesztés és forgalmazás Zlinszky Ferenc családi gazdaságában">
    <title>Gyóni Major – Édesburgonya (batáta) termesztés és forgalmazás Zlinszky Ferenc családi gazdaságában</title>
  </head>

  <body>
    {% include _btpartials/_header.html %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <img class="major" src="images/gyoni-major.jpg" alt="A Zlinszky kúria épülete a Gyóni Majorban">

        <h2>A Zlinszky család és a Gyóni Major</h2>

        <p>A Zlinszky család az egykori Morvaországból származik. Zlin városa – melynek nevéből családnevünk ered – Csehország keleti részén, a mai szlovák határhoz közel fekszik. Innen származott el a család a XVII. században előbb Nyitra megyébe, majd néhány generációval később Pest megyébe.</p>

        <h3>A gyóni adomány</h3>

        <p>„Egregius Johannes Zlinszky” azaz nemes és nemzetes Zlinszky János, aki 1687 körül Pest-Pilis-Solt vármegyében különböző tisztségeket viselt, 1735-től a vármegye első alispánja. A törökök kiűzésével kapcsolatos háborúskodások után elpusztult területek újratelepítése, az élet újraszervezése során szerzett érdemeiért királyi adományként birtokot kapott Gyónon, amint azt az 1744. november 16-án kelt donációs levél bizonyítja. Innen ered – és tart máig – a  család gyóni ága.</p>

        <img alt="Adomány-levél_vág.jpg" src="images/image01.jpg" title="Az adomány-levél"><div class="figcaption">Az adomány-levél
        </div>

        <h3>Generációk</h3>

        <p>Az alapító és birtokszerző Zlinszky Jánost a család hét generációja követte Gyónon. Körülményeik és hajlamaik szerint nagyon különböző emberek. Volt közöttük csendes, otthonülő gazdálkodó és volt közéleti szerepet vállaló, tisztségviselő. Volt jogász, közgazdász, mérnök, katona. Volt 1848-as szabadságharcos honvéd főhadnagy és volt ’56-os, a Széna téren és a Körtéren harcoló forradalmár. Volt akadémikus tudós és volt vidám, társasági ember. Nagyon különbözőek voltak, de közös volt bennük az elkötelezettség értékeik, hitük, magyarságuk és a közösség iránt.</p>

        <img alt="Címeres levél_vág.jpg" src="images/image03.jpg" title="Armális (címeres levél)"><div class="figcaption">Armális (címeres levél)</div>

        <h3>Elszakadás</h3>

        <p>A hetedik generációban ismét egy Zlinszky János – nagyapánk – birtokolta Gyónt. Bár ügyvéd volt Budapesten, a házat és a birtokot fejlesztette, építette. A második világháború végén a Budapestet ostromló szovjet hadsereg hadtápvonalába esett Gyón. Az oroszok tábori pékséget rendeztek be a házban és – a felhasogatott tüzifa kivételével – mindent elégettek, ami éghető volt: bútort, könyvet, parkettát, ajtót, ablakot.</p>

        <p>A harcok múltával nagyapánk – keserves erőfeszítéssel – helyreállította a házat. Aztán 1950-ben kitelepítették, majd „mivel a tulajdonos nem lakik benne”, a házat elvették, államosították.</p>

        <h3>Visszatérés</h3>

        <p>Az épületet rövid ideig raktárként használták, majd iskolává alakították – a helyiek csak „Zlinszky-iskola”-ként emlegetik. A rendszerváltás után – Gyón ekkorra már Dabas része lett – a város Önkormányzata kifejezte szándékát, hogy a házat visszaadja a családnak. Hosszas töprengés és tervezés után, 2012. december 6-án végül a város Önkormányzata és Édesapánk aláírhatta a megállapodást: az ősi ház ismét a család birtokába került!</p>

        <img alt="A major kulcsának ünnepélyes átadása" src="images/image04.jpg" title="Kulcsátadás"><div class="figcaption">Kulcsátadás</div>

        <h3>Újrakezdés</h3>

        <img alt="Ketten.jpg" src="images/image02.jpg" title="Zlinszky Ferenc és fia, gergely"><div class="figcaption">Zlinszky Ferenc és fia, Gergely</div>

        <p>És most újra itt vagyunk, immár a kilencedik és tizedik generáció képviselői munkálkodunk, hogy megteremtsük a „gyóni létalapot”. A lehetőséget, hogy a visszatért házat rendbetegyük, felújítsuk és fenntartsuk, és emellett életlehetőséget teremtsünk azoknak, akik a családból itt szeretnének letelepedni. Sikerült telekcserékkel a házzal szomszédos mintegy 3 ha szántóföldet megszereznünk – első lépésként itt kezdtük lerakni egy <a href="index.html">családi gazdaság alapjait</a>.</p>

        <p>Kelt: 2014. november 16-án, a birtok-adományozás 270. évfordulóján</p>

        <p><strong>Zlinszky Ferenc és fia, Gergely</strong><br>
        őstermelők</p>

        <img alt="Dédunokák.JPG" src="images/image00.jpg" title="Már itt van a tizenegyedik generáció!"><div class="figcaption">Már itt van a tizenegyedik generáció!
        </div>

        </section> <!-- end of main_content -->
    </div> <!-- end of main_content_wrap -->

    <!-- FOOTER  -->
    {% include _btpartials/_footer.html %}
  </body>
</html>
